*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgba(128, 128, 128, 0.493);
}
/* .navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 75vh;
    padding: 2%;
    background-color: #252525;
    opacity: inherit;
} */
.navbar{
    display: flex;
    width: 100%;
    max-width: 700px; 
    padding: 10px 20px;
    justify-content: center;
    background-color: transparent;
    border-radius: 60px;
}

.search{
    min-width: 100vh;
    text-align: center;
    margin-left: 86vh;
}
.searchbar{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background: white;
    border-radius: 50px;
    align-items: center;
}
.searchbar input{
    background: white;
    z-index: 1;
    flex: 1;
    border: none;
    outline: none;
    padding: 24px 179px;
    font-size: 20px;
    color: #000002;
    border-radius: 60px;
    width: 100%;
}
.search button{
    color: #7a7a7a;
    cursor: pointer;
    width: 34px;
    height: 34px;
    margin-right: 29px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: black;    
}
 .homebar{ 
     /* border: 1px solid; */
     /* text-align: left; */
    /* position: sticky; */
      height: 10vh;
     width: 40vh;
     margin-left: 60px
     }  

.homebar button{
    
    text-align: right;
    background-color: rgb(56, 141, 221);
    padding:  20px 5px;
    border-radius: 50%;
    font-family: 'Valera', 'Sans-serif';
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    outline: none;
    border: 2px solid black;
}
.homebar button:active,
.homebar button:hover,
.homebar button:focus{
    background-color: rgb(21, 78, 131);
    transform: translateY(4px);
}
.spotify-playlist{ 
    padding: 20px 40px;
}
 .spotify-playlist h2{
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}
 .spotify-playlist .list{
    display: flex;
    gap: 22px;
    margin-bottom: 20px;
    flex-wrap: wrap;
 }
.spotify-playlist .list .item{
    min-width: 140px;
    min-height: 160px;
    width: 160px;
    margin-bottom: 45px;
    padding: 25px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}
.spotify-playlist .list .item .write{
    color: #ae2896;
}
.spotify-playlist .list .item:hover{
    background-color: #252525;
}
.spotify-playlist .list .item img{
    width: 100%;
}
.spotify-playlist .list .item .play{
    position: relative;
}
.spotify-playlist .list .item .play .fa{
    position: absolute;
    right: 0px;
    top: -20px;
    padding: 18px;
    background-color: #1db945;
    border-radius: 100%;
    opacity: 0;
}
.spotify-playlist .list .item:hover .play .fa{
    opacity: 1;
    transform: translateY(-20px);
}
.spotify-playlist .list .item h4{
    color: #ffffff;
    font-size: 14px;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.spotify-playlist .list .item p{
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}  